@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=News+Cycle:wght@400;700&display=swap');

:root {
    --peach: #FFB9B9;
    --beige: #FFDDD2;
    --light-pink: #FFACC7;
    --pink: #FF8DC7;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}


body {
    font-family: 'Acme', sans-serif;
    overflow-x: hidden;
    background-color: var(--peach);
}

#menu li > a {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--pink);
}

.cart-container {
    position: absolute;
    display: none; 
    top: 60px;
    right: 60px;
    background-color: var(--white);
    border: 1px solid #ccc;
    max-width: 300px;
    margin: 20px auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#cart-list {
    background-color: var(--white);
    list-style: none;
    padding: 0;
    
}

#cart-list li {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#cart-list img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 5px;
}

.cart-price {
    flex-grow: 1;
    text-align: right;
    font-weight: bold;
}

.remove-from-cart {
    background-color: #dc3545;
    color: var(--white);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.remove-from-cart:hover {
    background-color: #c82333;
}

footer {
    background: var(--peach);
    min-height: 100px;
}

footer p {
    color: var(--white) ;
    text-align: center;
}

#icons i {
    font-size: 26px;
    padding: 0 8px;
    color: var(--white);
}

#contactUs {
    color: var(--white);
}


#cartPurchase {
    max-height: 300px;
    overflow: auto;
}


