@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=News+Cycle:wght@400;700&display=swap');

:root {
    --peach: #FFB9B9;
    --beige: #FFDDD2;
    --light-pink: #FFACC7;
    --pink: #FF8DC7;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

#menu li > a {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--pink);
}

body {
    margin: 0;
    font-family: 'Acme', sans-serif;

}

.all {
    background-color: var(--beige);
}

.logup {
    margin-top: 20px;
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: var(--beige);
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.title {
    font-size: var(--lg);
    margin-bottom: 36px;
    text-align: start;
}

.form {
    display: flex;
    flex-direction: column;
}

.form div {
    display: flex;
    flex-direction: column;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--peach);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

 #name,
 #lastname,
 #email,
 #password,
 #address,
 #confirmPassword {
    background-color: var(--peach);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 22px;
}



.input-name,
.input-lastname,
.input-email,
.input-password,
.input-address {
    margin-bottom: 22px;

}



.primary-button {
    background-color: var(--light-pink);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.logup-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.form-input-error {
    font-size: 12px;
    color: var(--pink);
	margin-bottom: 8px;
	display: none;
}

.form-input-error-active {
    display: block;
}

.invalid {
    border: solid 1px red;
    box-shadow: 0 0 10px red;
}
.correct {
    border: solid 1px greenyellow;
    box-shadow: 0 0 10px greenyellow;
}

.form-successful {
    font-size: 14px;
	color: #119200;
	display: none;
}

.form-successful-active {
    display: block;
}

@media (max-width: 640px) {
    .form-container {
        height: 100%;
        justify-content: space-between;
    }

    .form {
        height: 100%;
        justify-content: space-between;
    }

}