@import url('https://fonts.googleapis.com/css2?family=Acme&family=Concert+One&family=News+Cycle:wght@400;700&display=swap');

:root {
    --peach: #FFB9B9;
    --beige: #FFDDD2;
    --light-pink: #FFACC7;
    --pink: #FF8DC7;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    margin: 0;
    font-family: 'Acme', sans-serif;
    background-color: var(--beige);
}

#menu li > a {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--pink);
}

.login {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}

.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
}

.logo {
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    display: none;
}

.form {
    display: flex;
    flex-direction: column;
}

.form a {
    color: var(--pink);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 100px;
}

.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}

.input {
    background-color: var(--peach);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    padding: 6px;
    margin-bottom: 12px;
}

.input-email {
    margin-bottom: 22px;
}

.primary-button {
    background-color: var(--light-pink);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.secondary-button {
    background-color: var(--light-pink);
    border-radius: 8px;
    border: 1px solid var(--pink);
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}

.warnings {
    font-size: var(--sm);
    width: 200px;
    text-align: center;
    margin: auto;
    color: var(--pink);
    padding-top: 20px;
}

#warnings li {
    list-style: none;
}

@media (max-width: 640px) {
    .logo {
        display: block;
    }

    .secondary-button {
        position: absolute;
        bottom: 20px;
        width: inherit;
    }
}